<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Manu Gentoo <manugentoo@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Manugentoo_Base::base"
             title="Manugentoo"
             module="Manugentoo_Base"
             sortOrder="70"
             resource="Magento_Backend::content"
        />
    </menu>
</config>